  
ZPermission/*.iml
ZPermission/.idea
ZPermission/app/*
ZPermission/local.properties
ZPermission/.idea/caches/build_file_checksums.ser
ZPermission/.idea/libraries
ZPermission/.idea/modules.xml
ZPermission/.idea/workspace.xml
ZPermission/.DS_Store
ZPermission/build
ZPermission/captures
ZPermission/.externalNativeBuild
